@charset "UTF-8";

body {
    background-image: url(imagens/wallpaper002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div.tiposdefundo {
    border: 5px solid green;
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

#A1 {
    background-color: lightgreen;
}

#A2 {
    background-image:linear-gradient(to bottom,purple,green);
}

#A3 {
    background-image: url(imagens/pattern004.png);
}

#A4 {
background-image: url(animes/hashirama.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}

#A5 {
    background-image: url(animes/tobirama.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#A6 {
    background-image: url(animes/hiruzen.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}